* {
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  list-style: none;
  margin: 0;
  /* LANDING PAGE COLOR PALETTE */
  --light-blue: #3882f6;
  --main-bg-color: #1f2937;
  --placeholder-gray: #f9faf858;
  --secondary-bg-gray: #e5e7eb;
  --text-dark-gray: #1f2937;
  --text-primary-white: #f9faf8;
  --text-secondary-white: #e5e7eb;
}

/* NAV-BAR */
.nav-bar {
  align-items: center;
  background: var(--main-bg-color);
  color: var(--text-primary-white);
  display: flex;
  font-family: "Kanit", sans-serif;
  justify-content: space-between;
  padding: 24px 10%;
  width: 100%;
}

.nav-bar-logo {
  font-size: 24px;
}

.nav-bar-links {
  display: flex;
  gap: 24px;
}

.nav-bar-links > li > * {
  color: var(--text-secondary-white);
}

/* HERO */
.hero {
  align-items: center;
  background: var(--main-bg-color);
  display: flex;
  gap: 60px;
  justify-content: center;
  padding: 5% 10%;
}

.hero-h1 {
  color: var(--text-primary-white);
  font-size: 48px;
  font-weight: bolder;
}

.hero-content {
  max-width: 500px;
}

.hero-content > .hero-subtext {
  color: var(--text-primary-white);
}

.hero-img-placeholder {
  align-items: center;
  background: var(--placeholder-gray);
  display: flex;
  height: 360px;
  justify-content: center;
  width: 640px;
}

.hero-img-placeholder > .hero-subtext {
  color: var(--text-secondary-white);
}

.hero-cta {
  background-color: var(--light-blue);
  border: none;
  border-radius: 5px;
  color: var(--text-primary-white);
  margin-top: 25px;
  padding: 10px 45px;
}

/* TILES SECTION */
.tiles-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 10%;
}

.tiles-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.tiles-title {
  color: var(--text-dark-gray);
  font-size: 36px;
  margin-bottom: 5%;
}

.tile {
  text-align: center;
  width: 175px;
}

.tile-square {
  border: 4px solid var(--light-blue);
  border-radius: 8px;
  height: 175px;
  margin-bottom: 12px;
  width: inherit;
}

/* TESTIMONIAL SECTION */
.testimonial {
  background: var(--secondary-bg-gray);
  color: var(--text-dark-gray);
  display: flex;
  flex-direction: column;
  padding: 5% 10%;
}

.testimonial > .quote {
  font-size: 36px;
  font-style: italic;
  padding: 0px 10%;
}

.testimonial > .quote-author {
  font-size: 24px;
  padding: 0px 10%;
  text-align: end;
}

/* CTA */
.cta {
  background-color: var(--light-blue);
  border-radius: 8px;
  color: var(--text-primary-white);
  display: flex;
  gap: 20%;
  justify-content: space-around;
  margin: 5% 10%;
  padding: 40px 0px;
}

.cta-signup {
  background-color: var(--light-blue);
  border: 2px solid var(--text-secondary-white);
  border-radius: 8px;
  color: var(--text-primary-white);
  padding: 10px 40px;
}

.footer {
  align-items: center;
  background: var(--main-bg-color);
  color: var(--text-secondary-white);
  display: flex;
  justify-content: center;
  padding: 24px 10%;
  width: 100%;
}
