* {
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  list-style: none;
  margin: 0;
  /* LANDING PAGE COLOR PALETTE */
  --light-blue: #3882f6;
  --main-bg-color: #1f2937;
  --placeholder-gray: #f9faf858;
  --secondary-bg-gray: #e5e7eb;
  --text-primary-white: #f9faf8;
  --text-secondary-white: #e5e7eb;
}

/* NAV-BAR */
.nav-bar {
  align-items: center;
  background: var(--main-bg-color);
  color: var(--text-primary-white);
  display: flex;
  font-family: "Kanit", sans-serif;
  justify-content: space-between;
  padding: 24px 10%;
  width: 100%;
}

.nav-bar-logo {
  font-size: 24px;
}

.nav-bar-links {
  display: flex;
  gap: 24px;
}

.nav-bar-links > li > * {
  color: var(--text-secondary-white);
}

/* HERO */
.hero {
  align-items: center;
  background: var(--main-bg-color);
  display: flex;
  gap: 60px;
  justify-content: center;
  padding: 5% 10%;
}

.hero-h1 {
  color: var(--text-primary-white);
  font-size: 48px;
  font-weight: bolder;
}

.hero-content {
  max-width: 500px;
}

.hero-content > .hero-subtext {
  color: var(--text-primary-white);
}

.hero-img-placeholder {
  align-items: center;
  background: var(--placeholder-gray);
  display: flex;
  height: 360px;
  justify-content: center;
  width: 640px;
}

.hero-img-placeholder > .hero-subtext {
  color: var(--text-secondary-white);
}

.hero-cta {
  background-color: var(--light-blue);
  border: none;
  border-radius: 5px;
  color: var(--text-primary-white);
  padding: 10px 20px;
}
